@model SalesWebMvc.Models.ViewModels.ErrorViewModel

<style>

    .error-area {
        text-align: center;
        padding: 64px 16px
    }

    .btn-bottom {
        margin: 24px 0px;
    }

</style>


<div class="row error-area" >
    <h4>
        Oops! Something went wrong.
    </h4>

    <h1>
        <strong>@Model.StatusCode</strong> @Model.StatusCodeTitle
    </h1>

    <h3>
        @Model.Message
    </h3>

    <a asp-action="Index" class="btn btn-primary btn-bottom">
        <span class="glyphicon glyphicon-home" style="margin: 0px 4px"></span>
        Back to List
    </a>
</div>


@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
